networks:
  eth-staking-network-net:
    name: eth-staking-network-net
    driver: bridge

volumes:
  ipfs_export:
  ipfs_data:

services:
  nginx:
    image: nginx:1.29.3
    container_name: oracle_nginx
    user: root
    volumes:
      - ./nginx.conf/nginx.conf:/etc/nginx/nginx.conf
      - ./templates/oracle.conf:/etc/nginx/conf.d/oracle.conf
      - ./certs/fullchain.pem:/etc/nginx/certs/fullchain.pem
      - ./certs/privkey.pem:/etc/nginx/certs/privkey.pem
    depends_on:
      api:
        condition: service_healthy
    ports:
      - "80:80"
      - "443:443"
    env_file: [".env"]
    command: ["/bin/sh", "-c", "rm -f /etc/nginx/conf.d/default.conf && nginx -g 'daemon off;'"]
    networks:
      - eth-staking-network-net

  api: &base
    image: europe-west4-docker.pkg.dev/stakewiselabs/public/v3-oracle:v4.0.8
    container_name: oracle_api
    restart: always
    command: ./scripts/app.sh
    env_file: [".env"]
    user: root
    volumes:
      - ./wallet:/wallet
      - ./database/oracle.db:/database/oracle.db
    environment:
      - EXECUTION_ENDPOINT=http://eth-ansible-execution-1:8544
      - CONSENSUS_ENDPOINT=http://eth-ansible-consensus-lighthouse:5052
      - DATABASE=/database/oracle.db
      - NETWORK=gnosis
      - JWT_SECRET_FILE=/jwt/jwt.hex
      - ORACLE_WALLET_PATH=/wallet/wallet.json
      - ORACLE_WALLET_PASSWORD_PATH=/wallet/password.txt
    networks:
      - eth-staking-network-net
    healthcheck:
      test: "exit 0"
    ports:
      - "8000:8000"
    depends_on:
      - eth-ansible-consensus-lighthouse
      - eth-ansible-execution-1

  worker:
    <<: *base
    container_name: oracle_worker
    command: ./scripts/worker.sh
    user: root
    volumes:
      - ./database/oracle.db:/database/oracle.db
      - ./wallet/wallet.json:/wallet/wallet.json:ro
      - ./wallet/password.txt:/wallet/password.txt:ro
      - ./jwtsecret/jwt.hex:/jwt/jwt.hex:ro
      - ./certs/fullchain.pem:/etc/nginx/certs/fullchain.pem
      - ./certs/privkey.pem:/etc/nginx/certs/privkey.pem
    environment:
      - EXECUTION_ENDPOINT=http://eth-ansible-execution-1:8544
      - CONSENSUS_ENDPOINT=http://eth-ansible-consensus-lighthouse:5052
      - DATABASE=/database/oracle.db
      - NETWORK=gnosis
      - JWT_SECRET_FILE=/jwt/jwt.hex
      - ORACLE_WALLET_PATH=/wallet/wallet.json
      - ORACLE_WALLET_PASSWORD_PATH=/wallet/password.txt
    ports:
      - "8001:8001"
    depends_on:
      - eth-ansible-consensus-lighthouse
      - eth-ansible-execution-1
    networks:
      - eth-staking-network-net

  ipfs:
    container_name: oracle-ipfs
    image: ipfs/kubo:latest
    restart: always
    user: root
    environment:
      - IPFS_PATH=/data/ipfs
      - IPFS_PROFILE=server
      - GOLOG_LOG_LEVEL=ERROR
      - IPFS_FD_MAX=32768
    ulimits:
      nproc: 65535
      nofile:
        soft: 1000000
        hard: 1000000
    ports:
      - "4001:4001/tcp"
      - "4001:4001/udp"
      - "5001:5001"
      - "127.0.0.1:8080:8080"
    networks:
      - eth-staking-network-net
    volumes:
      - "ipfs_export:/export"
      - "ipfs_data:/data/ipfs"
      - ./certs/fullchain.pem:/etc/nginx/certs/fullchain.pem
      - ./certs/privkey.pem:/etc/nginx/certs/privkey.pem

  eth-ansible-execution-1:
    container_name: eth-ansible-execution-1
    image: nethermind/nethermind:1.35.2
    restart: unless-stopped
    user: root
    networks:
      - eth-staking-network-net
    ports:
      - "30304:30304/tcp"
      - "30304:30304/udp"
      - "8544:8544"
      - "8552:8552"
    volumes:
      - ./execution_config:/slcl_admin/.nethermind
      - ./execution_data:/data
      - ./jwtsecret:/exec_token:ro
    command: >
      --datadir "/data"
      --config gnosis
      --Init.WebSocketsEnabled true
      --JsonRpc.Enabled true
      --JsonRpc.Host "0.0.0.0"
      --JsonRpc.Port 8544
      --Metrics.ExposePort 6060
      --Metrics.Enabled true
      --JsonRpc.EnginePort 8552
      --JsonRpc.EngineHost "0.0.0.0"
      --JsonRpc.EnabledModules "[\"admin\",\"eth\",\"subscribe\",\"net\",\"web3\",\"txpool\",\"debug\"]"
      --JsonRpc.JwtSecretFile "/exec_token/jwt.hex"
      --Network.P2PPort 30304
    healthcheck:
      test: "exit 0"
      interval: 30s
      timeout: 10s
      retries: 5

  eth-ansible-consensus-lighthouse:
    container_name: eth-ansible-consensus-lighthouse
    image: sigp/lighthouse:v8.0.0
    restart: always
    user: root
    networks:
      - eth-staking-network-net
    ports:
      - "9001:9001/tcp" # p2p
      - "9001:9001/udp" # p2p
      - "5054:5054/tcp" # metrics
      - "127.0.0.1:5063:5052" # REST API (host mapping)
    expose:
      - 5052
    volumes:
      - ./consensus_data_lighthouse:/data
      - ./jwtsecret/jwt.hex:/jwt.hex:ro
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    depends_on:
      - eth-ansible-execution-1
    command: |
      lighthouse bn
      --network gnosis
      --datadir /data
      --http
      --http-address 0.0.0.0
      --http-port 5052
      --http-allow-origin *
      --execution-endpoint http://eth-ansible-execution-1:8552
      --execution-jwt /jwt.hex
      --checkpoint-sync-url https://checkpoint.gnosischain.com
      --port 9001
      --target-peers 50
      --metrics
      --metrics-address 0.0.0.0
      --metrics-port 5054
      --disable-backfill-rate-limiting
      --reconstruct-historic-states
      --historic-state-cache-size=16
    logging:
      driver: "local"
    healthcheck:
      test: "exit 0"
      interval: 30s
      timeout: 10s
      retries: 5