---
- name: Create directory structure for eth beacon node
  become_user: "slcl_admin"
  become: true
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    owner: slcl_admin
    group: slcl_admin
    mode: "0755"
  with_items:
    - "{{ consensus_config_mount }}"
    - "{{ consensus_data_mount }}"
    - "{{ consensus_config_mount }}/exec_token"

- name: Generate JWT secret token
  become_user: slcl_admin
  become: true
  ansible.builtin.shell: |
    if [ ! -f "{{ consensus_config_mount }}/exec_token/token" ]; then
      openssl rand -hex 32 | tr -d "\n" > "{{ consensus_config_mount }}/exec_token/token"
      chmod 644 "{{ consensus_config_mount }}/exec_token/token"
    fi
  args:
    creates: "{{ consensus_config_mount }}/exec_token/token"

# Load and verify required variables
- name: Load host vars again if needed
  ansible.builtin.include_vars:
    file: "host_vars/{{ inventory_hostname }}.yml"
  tags: [always]

- name: Set required variables
  ansible.builtin.set_fact:
    network: "{{ hostvars[inventory_hostname]['network'] | default(hostvars[inventory_hostname]['NETWORK_NAME']) }}"
    withdrawal_account_address: "{{ hostvars[inventory_hostname]['withdrawal_account_address'] }}"
    beacon_published_ports: "{{ beacon_published_ports }}"

- name: Debug variables
  ansible.builtin.debug:
    msg:
      - "Network: {{ network }}"
      - "Withdrawal Address: {{ withdrawal_account_address }}"

- name: Start/Restart the beacon client docker container
  become_user: slcl_admin
  become: true
  community.docker.docker_container:
    image: "{{ lighthouse_image }}"
    keep_volumes: true
    name: "{{ consensus_docker_container_name }}"
    network_mode: bridge
    networks:
      - name: "eth-staking-network-net"
    published_ports: "{{ beacon_published_ports }}"
    restart_policy: unless-stopped
    state: started
    volumes:
      - "{{ consensus_config_mount }}:/config/:rw"
      - "{{ consensus_data_mount }}:/data"
      - "{{ consensus_config_mount }}/exec_token:/exec_token:ro"
    command: >
      lighthouse bn
      --datadir /data
      --http
      --http-port {{ consensus_client_http_api_port }}
      --http-address "0.0.0.0"
      --http-allow-origin "*"
      --listen-address 0.0.0.0
      --port {{ consensus_p2p_port | default('9000') }}
      --quic-port {{ consensus_quic_port | default('9001') }}
      --target-peers {{ consensus_target_peers | default('100') }}
      --execution-endpoint http://{{ execution_docker_container_name }}:{{ execution_auth_port }}
      --execution-jwt "/exec_token/token"
      --debug-level info
      --metrics
      --metrics-address 0.0.0.0
      --metrics-port {{ consensus_monitoring_port }}
      --suggested-fee-recipient {{ withdrawal_account_address }}
      --network {{ network }}
      {% if network == "mainnet" %}
      --checkpoint-sync-url https://mainnet.checkpoint.sigp.io
      {% elif network == "hoodi" %}
      --checkpoint-sync-url https://hoodi-checkpoint-sync.stakely.io
      {% elif network == "sepolia" %}
      --checkpoint-sync-url https://sepolia.checkpoint.sigp.io
      {% elif network == "gnosis" %}
      --checkpoint-sync-url https://checkpoint.gnosischain.com
      {% endif %}