---
- name: Create directory structure for eth home staker
  become_user: slcl_admin
  become: true
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    owner: "slcl_admin"
    group: "slcl_admin"
    mode: "0755"
  with_items:
    - "{{ execution_config_mount }}"
    - "{{ execution_data_mount }}"

- name: Copy JWT token to execution client
  become_user: slcl_admin
  become: true
  ansible.builtin.copy:
    src: "{{ consensus_config_mount }}/exec_token/token"
    dest: "{{ execution_config_mount }}/token"
    mode: "0644"
    remote_src: true

# Set docker ports
- name: Set execution docker ports
  ansible.builtin.set_fact:
    eth_ansible_execution_1_docker_ports: "{{ eth_ansible_execution_1_docker_ports }}"

- name: Start eth-ansible-execution-1 container
  become_user: slcl_admin
  become: true
  community.docker.docker_container:
    name: "{{ execution_docker_container_name }}"
    image: "{{ nethermind_image }}"
    state: started
    memory: "{{ eth_ansible_execution_1_docker_memory }}"
    memory_swap: "{{ eth_ansible_execution_1_docker_memory }}"
    restart_policy: unless-stopped
    networks:
      - name: "eth-staking-network-net"
    networks_cli_compatible: true
    ports: "{{ eth_ansible_execution_1_docker_ports }}"
    volumes:
      - "{{ execution_config_mount }}:/slcl_admin/.nethermind"
      - "{{ execution_data_mount }}:/slcl_admin/data"
      - "{{ consensus_config_mount }}/exec_token:/exec_token:ro"
    command: >
      --datadir "/data"
      --config {{ network }}
      --Init.WebSocketsEnabled true
      --JsonRpc.Enabled true
      --JsonRpc.Host "0.0.0.0"
      --JsonRpc.Port {{ eth_ansible_execution_1_rpc_port }}
      --Metrics.ExposePort {{ execution_monitoring_port }}
      --Metrics.Enabled true
      --JsonRpc.EnginePort {{ eth_ansible_execution_1_engine_port }}
      --JsonRpc.EngineHost "0.0.0.0"
      --JsonRpc.EnabledModules "[\"admin\",\"eth\",\"subscribe\",\"net\",\"web3\",\"txpool\",\"debug\"]"
      --JsonRpc.JwtSecretFile "/exec_token/token"
      --Network.P2PPort {{ eth_ansible_execution_1_p2p_port }}
