---
- name: Create directory structure for validator client
  become_user: "slcl_admin"
  become: true
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    owner: "slcl_admin"
    group: "slcl_admin"
    mode: "0755"
  with_items:
    - "{{ validator_keys_mount }}/keys"
    - "{{ validator_keys_mount }}/passwords"
    - "{{ validator_data_mount }}"

# This is done manually
# - name: Copy validator keystores
#   become: true
#   ansible.builtin.copy:
#     content: "{{ item.keystore_content | default(omit) }}"
#     src: "{{ item.keystore_file | default(omit) }}"
#     dest: "{{ validator_keys_mount }}/keystores/{{ item.keystore_file | basename }}"
#     owner: "slcl_admin"
#     group: "slcl_admin"
#     mode: "0600"
#   with_items: "{{ validators }}"
#   when: validators is defined

- name: Create validator_definitions.yml
  become: true
  ansible.builtin.template:
    src: templates/validator_definitions.yml.j2
    dest: "{{ validator_keys_mount }}/keys/validator_definitions.yml"
    owner: "slcl_admin"
    group: "slcl_admin"
    mode: "0600"
  when: charon_enabled == 'false' and mev_boost_enabled == 'false'

# Set docker ports
- name: Set validator docker ports
  ansible.builtin.set_fact:
    validator_published_ports: "{{ validator_published_ports }}"

- name: Create Lodestar run script
  become: true
  ansible.builtin.template:
    src: templates/run.sh.j2
    dest: "{{ validator_data_mount }}/run.sh"
    owner: "slcl_admin"
    group: "slcl_admin"
    mode: "0755"
  when:
    - charon_enabled | string == 'true'
    - mev_boost_enabled | string == 'true'
    - validator_client | string == 'lodestar'

- name: Start/Restart the validator client docker container
  become: true
  community.docker.docker_container:
    image: "{{ lighthouse_image }}"
    keep_volumes: true
    name: "{{ validator_container_name }}"
    network_mode: bridge
    networks:
      - name: "eth-staking-network-net"
    published_ports: "{{ validator_published_ports }}"
    restart: true
    restart_policy: unless-stopped
    state: started
    volumes:
      - "{{ validator_keys_mount }}/keys:/validators/keys"
      - "{{ validator_keys_mount }}/passwords:/validators/passwords"
      - "{{ validator_data_mount }}:/data"
    command: >
      lighthouse validator_client
      --beacon-nodes http://{{ consensus_docker_container_name }}:{{ consensus_client_http_api_port }}
      --validators-dir /validators/keys
      --secrets-dir /validators/passwords
      --graffiti "{{ validator_graffiti }}"
      --suggested-fee-recipient {{ withdrawal_account_address }}
      --init-slashing-protection
      --http
      --http-address 0.0.0.0
      --unencrypted-http-transport
      --http-port {{ validator_client_http_api_port }}
      --http-allow-origin "*"
      --metrics
      --metrics-address 0.0.0.0
      --metrics-port {{ validator_monitoring_port }}
      --network {{ network }}
      --disable-auto-discover
  when: charon_enabled == 'false' and mev_boost_enabled == 'false' and validator_client == 'lighthouse'

- name: Start/Restart the Lodestar validator client docker container (with MEV boost)
  become: true
  community.docker.docker_container:
    image: "{{ lodestar_image }}"
    keep_volumes: true
    name: "{{ validator_container_name }}"
    networks:
      - name: "eth-staking-network-net"
    networks_cli_compatible: true
    published_ports: "{{ validator_published_ports }}"
    restart: true
    restart_policy: unless-stopped
    state: started
    volumes: 
      - "/slcl_admin/.charon/validator_keys:/home/charon/validator_keys"
      - "{{ validator_data_mount }}:/opt/data"
    env:
      BEACON_NODE_ADDRESS: "http://{{ charon_container_name }}:{{ charon_validator_api_port }}"
      NETWORK: "{{ network }}"
      BUILDER_API_ENABLED: "{{ mev_boost_enabled }}"
      BUILDER_SELECTION: "builderalways"
      WITHDRAWAL_ACCOUNT_ADDRESS: "{{ withdrawal_account_address }}"
      NODE_OPTIONS: "--max-old-space-size=4096"
    entrypoint: /opt/data/run.sh
  when:
    - charon_enabled | string == 'true'
    - mev_boost_enabled | string == 'true'
    - validator_client | string == 'lodestar'