# config options for cadvisor(1)
#
{{ ansible_managed | comment }}

# Docker endpoint to connect to
CADVISOR_DOCKER_ENDPOINT="unix:///var/run/docker.sock"

# Port to listen on
CADVISOR_PORT="{{ cadvisor_port }}"

# Storage driver (disabled)
CADVISOR_STORAGE_DRIVER=""
CADVISOR_STORAGE_DRIVER_HOST="localhost:8086"
CADVISOR_STORAGE_DRIVER_PASSWORD="root"
CADVISOR_STORAGE_DRIVER_SECURE="false"
CADVISOR_STORAGE_DRIVER_USER="root"
CADVISOR_LOG_TO_STDERR="true"

# Other options:
#DAEMON_ARGS=""
