apiVersion: 1

providers:
  - name: 'Ethereum'
    orgId: 1
    folder: 'Ethereum'
    type: file
    disableDeletion: true
    editable: false
    updateIntervalSeconds: 30
    options:
      path: /var/lib/grafana/dashboards 