#!/bin/sh
set -e
for f in /opt/.charon/validator_keys/keystore-*.json; do
        node /usr/app/packages/cli/bin/lodestar validator import \
        --dataDir="/data" \
        --network="{{ execution.networks[node.environment] }}" \
        --importKeystores="$f" \
        --importKeystoresPassword="${f//json/txt}"
done
echo "All keys imported"
exit 0
